body{
    background-color: #ece4cd;
    color:#2E2E36;
    margin-left: 50px;
    margin-right: 50px;
}
h1,h2,a{
    font-family:'Times New Roman', Times, serif;
}
h1{
    font-size: 3em;
    background-color: #2E2E36;
    color: #d94e23;
}
h2{
    font-size: 2em;
    background-color: #2E2E36;
    color: #d94e23;
}
p{
    color:#2E2E36
}
a{
    color: #d94e23;
}
a:hover{color: #b7aaaa;}
.evenrow {background-color: #b7aaaa;}

nav a {
    color:#2E2E36;
}
nav{
    padding: 10px;
    margin-bottom: 30px;
    font-size: 2em;
    background-color:#d94e23;
}
nav a:hover {
    background-color: #2E2E36;
}